body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    color: #FFF;
    background-color: #171e31;
}

body.bgHit {
    background-color: rgba(255,0,0, 0.20);
}

header {
    text-align: right;
    width: 80%;
}

#lives, #lives ul {
    display: flex;
    justify-content: end;
    align-items: center;
}

#lives ul {
    width: 10%;
    list-style: none;
    padding: 0;
}
#lives ul li {
    padding: 2px;
}